body,default{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	background-color:rgba(240,255,114,0.5);
	color:rgb(64,188,216);
}

hr{
	width:50%;
	border:1px solid white;
	text-align:left;
}

#big_wrapper{
	margin:0px;
	padding:0px;
}

#header{
	width:100%;
	position:fixed;
	height:80px;
	//border:1px solid blue;
	z-index:1;
	background-color:rgb(64,188,216);
}
.txt
{
	border:1px solid white;
	color:rgb(64,188,216);
	background-color:white;
	font-weight:bold;
	//background-color:rgb(64,188,216);
	padding:2px;
}

select{
	color:rgb(64,188,216);
}
option{
}

a,a:active,a:hover,a:visited{
	color:inherit;
}
.btn{
	border:1px solid white;
	color:white;
	font-weight:bold;
	background-color:rgb(64,188,216);
	padding:8px;
	text-align:center;
	min-width:100px;
}
.btn:hover{
	cursor:hand;
}
#logo{
	display:block;
	float:left;
	height:80px;
	padding:5px;
	text-align:center;
}

#logo_img{
	width:200px;
	margin-left:20%;
	height:60px;
}
#menu
{
	float:right;
	color: white;
	height:80px;
	padding-right:10%;
}
.item{
	height:80px;
	float:right;
	padding-right:10px;
	padding-left:10px;
	padding-top:25px;
}
.link{
	text-decoration:none;
	border:1px solid white;
	padding:5px;
}
.link:hover{
	color:yellow;
	border: 1px solid yellow;
}
#main{
	padding:20px;
	background-color:rgba(251,253,62,0.3);
	position:relative;
	top:80px;
	margin:auto;
	clear:both;
	width:80%;
	border:1px solid rgba(255,255,255,1);
	min-height:80%;
}

#login_info{
	display:none;
}
